@layer base {
  :root {
    --color-text: var(--gray-12);
    --color-text-secondary: var(--gray-11);
    --color-background: var(--gray-1);
    --color-background-transparent: color-mix(in oklch, #000 80%, transparent);
    --color-background-transparent-secondary: color-mix(in oklch, #000 95%, transparent);
    --color-border: var(--gray-8);

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-background);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: var(--color-text);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--gray-9);
  }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    padding: 0.6em 1.2em;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    color: var(--color-text-secondary);
    cursor: pointer;
    background-color: var(--gray-3);
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.25s;

    &:hover {
      border-color: var(--gray-8);
    }
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
