/* stylelint-disable csstools/value-no-unknown-custom-properties -- Radix Colors are imported in tokens.css */

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    line-height: 1.5;
    color: var(--plum-11);
    background-color: var(--plum-2);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: var(--plum-12);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--plum-9);
  }

  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    padding: 0.6em 1.2em;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    color: var(--plum-11);
    cursor: pointer;
    background-color: var(--plum-4);
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color 0.25s;

    &:hover {
      border-color: var(--plum-8);
    }
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
